<html>
  <header>
    <h1>IBO Newspaper</h1>
    <title>{% block title %}{% endblock %}</title>
    <a href=""><button>Home</button></a>
    <a href=""><button>Latest Articles</button></a>
    <a href=""><button>Technology</button></a>
  </header><hr>
  <body>
    {% block body %}
    {% endblock %}
  </body>
  <footer>
    <p>IBO Newspaper</p>
    <a href=""><button>Home</button></a>
    <a href=""><button>Latest Articles</button></a>
    <a href=""><button>Technology</button></a>
  </footer>
</html>