{% extends 'web/layout.html' %}

{% block title %} 
    {{site.title}}
{% endblock %}

{% block body %}
    <header class="masthead">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>{{ site.title }}</h1>
              {% if site.description %}
                <span class="subheading">{{ site.description }}</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ site.textual_content }}

        <!-- Home Post List -->
        {% for post in posts %}

        <article class="post-preview">
          <a href="{% url 'web:article' post.article_id %}">
            <h2 class="post-title">{{ post.title }}</h2>
          </a>
          <p class="post-meta">Posted by
            {{ post.author }}
            on
            {{post.date_published}}        
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{% url 'web:front-page' %}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
{% endblock %}